@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap'); 
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* CSS Reset */
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; } 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; } 
body { font-family:'Noto Sans KR', sans-serif; font-size: 16px; color: #333; } 
ol, ul { list-style: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
address { font-style: normal } 
a { color: #333; text-decoration: none } 
img { border: 0; vertical-align: top; width: 100%;} 
* { box-sizing: border-box; } 
.hidden { display: block; position: absolute; left: -1000%; width: 1px; height: 1px; overflow: hidden; color: #fff; } 
.wrap { overflow: hidden;}

/* header */
header .image {overflow: hidden; margin: 0 auto; width: 20%; border-radius: 50%;}
header .head_main {display: flex; flex-direction: column; padding: 5% 10%; column-gap: 10%; text-align: center;}
header .head_ttl h2 { font-size: 3rem; margin-top: 20px;}
header .head_ttl>span { display: block; font-size: 1.25rem; font-weight: 400; margin-bottom: 20px;}
header .head_ttl strong { font-weight: 400;}
.head_ttl p{transition: all .5s ease-out;}

.head_ttl .a{background-color: thistle; font-size: 1.2rem; font-weight: 500;}
.head_ttl .link{border-radius: 30px; border: 1.5px solid #ccc;  padding: 10px;
    margin: 0 auto; margin-top: 20px; width: 40%;}
.head_ttl .link:hover{background-color: thistle;}



/* contentArea (article) */
#contentArea { margin: 50px 0; padding: 0 5%; line-height: 1.7rem;}
#contentArea section { margin: 50px 0; position: relative;}

#contentArea .toggle-container .eduWrap .eduMid{width: 40%;}
#contentArea .toggle-container .eduWrap .eduRight{width: 80%;}

#contentArea .toggle-btn {position: absolute; top: 10px; right: 10px; font-size: 2rem;}
#contentArea h3 {position: relative; font-size: 1.3rem; padding: 20px 0;}
#contentArea h3::after{ display: block; position: absolute; content: ''; width: 100%; height: 1px; background: #999; bottom: 10px; transition: all .5s;}
#contentArea .toggle-container { transition: height 0.35s ease-in-out; overflow: hidden;}
#contentArea .toggle-container:not(.active) { display: none; }
#contentArea .toggle-container dl { display: flex; column-gap: 5%; border-bottom: 1px solid #ddd; padding: 30px 0; }
#contentArea .toggle-container dt { width: 30%; font-size: 1.2rem; font-weight: 500; }
#contentArea .toggle-container dd { width: 65%; }
#contentArea .toggle-container dd a { display: block; word-break:break-all; }
#contentArea .toggle-container dd span { display: block; }

#contentArea .portfolio .toggle-container dd a{width: 80%; text-align: center; padding: 5px 0; border: 1px solid #ccc; border-radius: 30px;}
#contentArea .portfolio .toggle-container li dd:hover a{background: thistle;}

.meBox{width: 50%; border: 2px solid thistle; margin: 20px auto; padding: 20px; display: flex; justify-content: space-around;}
.meBox p:nth-of-type(1){padding-right: 10%; border-right: 2px solid thistle;}

/* footer */
footer .footer_inner { background: #333; color: #fff; text-align: center; padding: 20px 0;}
footer .footer_inner p { font-weight: 400; }


@media screen and (max-width:1024px) {
    header .image { margin: 0 auto; width: 50%;}
    .head_ttl .link{width: 70%;}
    .meBox{width: 70%;}
    #contentArea .toggle-container dl { display: block;}
    #contentArea .toggle-container dt, #contentArea .toggle-container dd {width: auto;}
    #contentArea .toggle-container dt { margin: 0 0 20px 0; }
}
@media screen and (max-width:768px) {
    .head_ttl .pf_box{display: flex; margin: 0 auto; width: 450px;}
    .head_ttl .link{width: 80%;}
    .meBox{flex-direction: column; width: 50%;}
    .meBox p:nth-of-type(1){border: none;}  
}
@media screen and (max-width:640px) {
    header .head_main { display: block; text-align: center;}
    header .head_ttl { margin: 30px 0;}
    header .head_ttl span{ margin: 20px 0};
}